//-------------------------------------------------------------------------------------
// Elements
//-------------------------------------------------------------------------------------

html {
	box-sizing: border-box;
	background-color: $background;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	@include font-family('default', true);
}

//-------------------------------------------------------------------------------------
// Media
//-------------------------------------------------------------------------------------

img {
	max-width: 100%;
	height: auto;
}

//-------------------------------------------------------------------------------------
// Inline & Text
//-------------------------------------------------------------------------------------

::selection {
	text-shadow: none;
	color: $color-selection;
	background: $bgcolor-selection;
}

a {
	@include anchor('darken');
}

p {
	margin: 0 0 1em;
}

//-------------------------------------------------------------------------------------
// Headings
//-------------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-family('heading', true);
	margin: 0 0 .5rem;
	text-transform: uppercase;
}

//-------------------------------------------------------------------------------------
// Lists
//-------------------------------------------------------------------------------------

ul,
ol {
	margin: 0 0 1em;
}

li {
	+ li {
		margin-top: .5em;
	}
	> ul, > ol {
		margin: .5em 0 0;
	}
}
